
/* 
* {
    border: 1px solid red !important;
}
*/

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

#main{
	margin: 10px;
}
.row {
    width: 100%;
    margin-bottom: 20px;
    display: flex; 
    flex-wrap: wrap;
}

.cat_image{
	width: 50%;
	height: 50%;
	padding: 1%
}
.cat_image2{
	width: 50%;
	height: 50%;
	padding: 1%
	left: 95%;
}
#space {
	margin: 10px;
	padding: 5px;

}
#clickDiv {
	margin: 10px;
	padding: 5px;

}
.col-2{
	width: 50%;
}
